/**
 * canvas8 demo pages styling
 *
 *
 */

body {
	font: 12pt Arial, sans-serif;
	margin: 1em;
	border: 0;
	padding: 0;
}
h1 {
	font-size: 140%;
	margin: 0 0 0.2em 0;
	border: 0;
	border-bottom: 1px solid black;
	padding: 0 0 0.2em 0;
	text-align: center;
}
h2 {
	font-size: 120%;
	margin: 0 0 1em 0;
	border: 0;
	padding: 0;
	text-align: center;
}
h3 {
	font-family: monospace;
	font-size: 100%;
	font-weight: normal;
	margin: 0 0 1em 0;
	border: 0;
	padding: 0;
	text-align: center;
	color: red;
}
p {
	margin: 0 0 0.8em 0;
	line-height: 1.2em;
	border: 0;
	padding: 0;
}
/*img, video {
	position: fixed;
	visibility: hidden;
}
*/
code {
	display: block;
	font-size: 80%;
	white-space: pre;
}

.scrawl-code {
	font-family: monospace;
	color: rgb(120, 0, 0);
}

#reportmessage {
	padding: 1em;
	background-color: rgba(0, 120, 0, .4);
	white-space: pre-wrap;
}

[data-stack] {
	border: 1px solid red;
	box-sizing: border-box;
}

.testinfo {
	margin-top: 2em;
	background-color: rgba(220, 100, 100, .2);
	padding: 1em;
}

.testinfo h4 {
	margin-top: 0;
}

.testinfo li {
	margin-bottom: 0.5em;
}

.controls {
  display: grid;

  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-column-gap: 2px;

  grid-template-rows: auto;
  grid-row-gap: 2px;

  font-size:  12px;
}

.controls div {
  box-sizing: border-box;
  justify-self: stretch;
  align-self: center;
  text-align: center;
  padding: 6px 0;
}

.label {
  font-weight: bold;
}

.blue {
  background-color: lightblue;
}

.green {
  background-color: palegreen;
}

.pink {
  background-color: pink;
}

.yellow {
  background-color: palegoldenrod;
}

.lavender {
  background-color: lavender;
}

.controls select {
  border: 0;
}

.controls input {
  width: 70%;
}

.canvas-container {
	overflow: hidden;
	resize: both;
	border: 1px solid black;
	width: 600px;
	height: 400px;
	min-height: 200px;
	min-width: 400px;
	max-height: 600px;
	max-width: 800px;
	margin: 0 auto 1em;
	position: relative;
}
.canvas-container::after {
	position: absolute;
	content: "";
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	border-bottom: 1em solid red;
	border-left: 1em solid transparent;
}

