body {
	font: 12pt Arial, sans-serif;
	margin: 1em;
	border: 0;
	padding: 0;
	}
h1 {
	font-size: 140%;
	margin: 0 0 0.2em 0;
	border: 0;
	border-bottom: 1px solid black;
	padding: 0 0 0.2em 0;
	text-align: center;
	}
h2 {
	font-size: 120%;
	margin: 0 0 1em 0;
	border: 0;
	padding: 0;
	text-align: center;
	}
h3 {
	font-size: 100%;
	font-weight: normal;
	margin: -1em 0 1em 0;
	border: 0;
	padding: 0;
	text-align: center;
	color: red;
	}
p {
	margin: 0 0 0.8em 0;
	line-height: 1.2em;
	border: 0;
	padding: 0;
	}
img, video {
	position: fixed;
	visibility: hidden;
	}
canvas {
	margin: 0;
	border: 1px solid green;
	padding: 0;
	}
code {
	font-size: 80%;
	}

#testdetails {
	border: 2px solid blue;
	background-color: #e0e0e0;
	font-size: 90%;
	padding: 1em;
	margin-bottom: 1em;
}
#testdetails img{
	position: static;
	visibility: visible;
	max-width: 60%;
	border: 1px solid black;
}
